

/* Header için genel düzenleme */
.header {
  display: flex;
  justify-content: flex-start; /* Sol tarafa hizalar */
  align-items: center; /* Dikeyde ortalar */
  padding: 10px; /* Kenarlardan boşluk bırakır */
  position: fixed; /* Header sabitlenir */
  top: 0; /* Üstte konumlandırılır */
  left: 0; /* Solda konumlandırılır */
  width: 100%; /* Header genişliği tam ekran */
  background-color: #1c093f ;
  z-index: 1000; /* Header'ı diğer öğelerin üstüne taşır */
  
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}

/* Logo düzenleme */
.logo img {
  max-height: 40px; /* Yüksekliği sınırlar */
  width: auto; /* Genişlik orantılı olur */
}



