<mat-toolbar color="primary" class="navbar ">
  <div class="header-container ">
    <img src="assets/kodiks-logo-dark.svg" alt="logo">   
  <span class="spacer"></span>
    <button mat-button color="primary"(click)="navigateTo('/register')">Kaydol</button>
    <button mat-button color="primary"(click)="navigateTo('/employee')">Çalışanlar</button>
    <button mat-button color="primary"(click)="navigateTo('/allproject')">Projeler</button>
    <button mat-button color="primary"(click)="navigateTo('/myproject')">Projelerim</button>
    <button mat-button color="primary"(click)="navigateTo('/project')">Proje ekle</button>
  </div>
</mat-toolbar>