<div class="all-projects-container">
  <h1 class="projects-title">Çalışanlar</h1>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let employee"> {{ employee.firstName }} {{ employee.lastName }}</td>
    </ng-container>

    <ng-container matColumnDef="groups">
      <th mat-header-cell *matHeaderCellDef> Groups</th>
      <td mat-cell *matCellDef="let employee"> {{ employee.groups }} </td>
    </ng-container>

    <ng-container matColumnDef="hireDate">
      <th mat-header-cell *matHeaderCellDef> Employment Date </th>
      <td mat-cell *matCellDef="let employee"> {{employee.hireDate | date: 'dd/MM/yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="activeEmployees">
      <th mat-header-cell *matHeaderCellDef> Active ? </th>
      <td mat-cell *matCellDef="let employee"> {{ employee.activeEmployees ?  'Evet' : 'Hayır'}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let employee">
        <button mat-button color="primary" *ngIf="employee.employeeId !== undefined" (click)="editEmployee(employee.employeeId!)">Edit</button>
        <button mat-button color="primary" *ngIf="employee.employeeId !== undefined" (click)="deleteEmployee(employee.employeeId!)">Delete</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>




<!-- <div class="example-header" fxLayout="employee">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>
<div class="example-container mat-elevation-z8">
  <h1 class="projects-title">Çalışanlar</h1>
  <mat-table [dataSource]="dataSource" matSort>
  

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let employee" data-label="name"> {{ employee.firstName }} {{ employee.lastName }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="groups">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Groups</mat-header-cell>
      <mat-cell *matCellDef="let employee" data-label="groups"> {{ employee.groups }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="hireDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Employment Date </mat-header-cell>
      <mat-cell *matCellDef="let employee" data-label="hireDate"> {{employee.hireDate | date: 'dd/MM/yyyy'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="inactiveEmployees">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Active ? </mat-header-cell>
      <mat-cell *matCellDef="let employee" data-label="inactiveEmployees"> {{ employee.inactiveEmployees ? 'Hayır' : 'Evet'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
      <mat-cell *matCellDef="let employee" data-label="actions">
        <button mat-button color="primary" *ngIf="employee.employeeId !== undefined" (click)="editEmployee(employee.employeeId!)">Edit</button>
        <button mat-button color="primary" *ngIf="employee.employeeId !== undefined" (click)="deleteEmployee(employee.employeeId!)">Delete</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div> -->