<div class="container">

<div class="all-projects-container">
  <h1 class="projects-title">Projeler</h1>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
    <ng-container matColumnDef="projectName">
      <th mat-header-cell *matHeaderCellDef>Proje Adı</th>
      <td mat-cell *matCellDef="let project">{{ project.projectName }}</td>
    </ng-container>

    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef>Başlangıç Tarihi</th>
      <td mat-cell *matCellDef="let project">
        {{ project.startDate | date : "dd/MM/yyyy" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="endDate">
      <th mat-header-cell *matHeaderCellDef>Bitiş Tarihi</th>
      <td mat-cell *matCellDef="let project">
        {{ project.endDate | date : "dd/MM/yyyy" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="ActiveProjects">
      <th mat-header-cell *matHeaderCellDef>Aktif?</th>
      <td mat-cell *matCellDef="let project">
        {{ project.activeProjects ?   "Evet" : "Hayır"}}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Eylemler</th>
      <td mat-cell *matCellDef="let project">
        <button
          mat-button
          color="primary"
          (click)="viewDetails(project.projectId)"
        >
          Proje Detayları
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
</div>