.container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(135deg, #180c36 25%, #180c36  100%);
  background-size: 400% 400%;
  animation: backgroundMove 10s ease infinite;
  padding: 40px;
  max-width: 100%;
 }

 .all-projects-container {
  border-radius: 12px;
  width: 100%;
  max-width: 1100px;
  margin: 1px auto;
  max-height: 100%;
  padding: 15px; 
  height: 500px;
  border-radius: 12px;
}

.projects-title {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 50px;
  color: #f3f3f3;
  margin-top: 40px;
}

table {
  width: 100%;
}

table.mat-elevation-z8 {
  border-radius: 8px; 
  overflow: hidden; 
}

table.mat-elevation-z8 th,
table.mat-elevation-z8 td {
  padding: 12px; 
}

.mat-elevation-z8 {
  background-color: #f3f3f3;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);

}

.mat-header-row, .mat-row {
  background-color: #180c36;
  color: white;
}

.mat-cell {
  color: #180c36;
}

.mat-button {
  color: white;
  background-color: #180c36;
  margin-right: 10px;
}

button.mat-button {
  border-radius: 6px;
}

.mat-header-cell {
  font-weight: bold;
}

 tr:hover { background-color: #d1c4e91f; }