<div class="effort-container">
  <h1 class="effort-title">{{ projectName }}</h1>
  <!-- <h2>Hedeflenen Efor: {{ effortGoals }} saat</h2> -->
  
  <!-- <table class="effort-table">
    <thead>
      <tr>
        <th>Pazartesi</th>
        <th>Salı</th>
        <th>Çarşamba</th>
        <th>Perşembe</th>
        <th>Cuma</th>
        <th>Cumartesi</th>
        <th>Pazar</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ weeklyEffort.monday }} saat</td>
        <td>{{ weeklyEffort.tuesday }} saat</td>
        <td>{{ weeklyEffort.wednesday }} saat</td>
        <td>{{ weeklyEffort.thursday }} saat</td>
        <td>{{ weeklyEffort.friday }} saat</td>
        <td>{{ weeklyEffort.saturday }} saat</td>
        <td>{{ weeklyEffort.sunday }} saat</td>
      </tr>
    </tbody>
  </table> -->

  <form [formGroup]="effortForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="effortAmount">Efor Miktarı:</label>
      <input id="effortAmount" formControlName="effortAmount" type="number">
    </div>
    <div>
      <label for="effortDate">Tarih:</label>
      <input id="effortDate" formControlName="effortDate" type="date">
    </div>
    <button type="submit" [disabled]="effortForm.invalid">Eforu Kaydet</button>
  </form>
</div>














































<!-- <div class="page-container">
  <div class="effort-container">

    
    <div class="box-container">
      <div class="calendar-container">
        <h3>Select a Day</h3>
        <div class="calendar-grid">
          <div
            *ngFor="let day of daysInMonth; let i = index"
            class="day"
            [class.selected]="i + 1 === selectedDay"
            (click)="selectDay(i + 1)"
          >
            {{ i + 1 }}
          </div>
        </div>
      </div>
    </div>
</div> <div class="down-container">
    
    <form (ngSubmit)="submitEffort()" class="effort-form">
      <label for="employeeProjectId">Employee Project ID:</label>
      <input
        type="number"
        id="employeeProjectId"
        [(ngModel)]="newEffort.employeeProjectId"
        name="employeeProjectId"
        required
      />

      <label for="monthlyEffort">Monthly Effort (hours):</label>
      <input
        type="number"
        id="monthlyEffort"
        [(ngModel)]="newEffort.monthlyEffort"
        name="monthlyEffort"
        required
        [max]="12"
      />

      <button type="submit">Add Effort</button>
    </form>
  </div>
</div> -->
