<div class="page-container">
  <div class="form-container">
    <form (ngSubmit)="login()">
      <fieldset>
        <legend>Kullanıcı Bilgileri</legend>
      <mat-form-field class="example-full-width">
        <mat-label>Email adresinizi giriniz</mat-label>
        <input matInput type="email" id="email"  [(ngModel)]="email" name="email" required />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>İsminizi giriniz</mat-label>
        <input matInput type="password" id="passwrod"  [(ngModel)]="password" name="password" required />
      </mat-form-field>
      <div class="example-button-row">
        <div class="example-flex-container">
          <div class="example-button-container">
            <button
              mat-fab
              extended
              class="btn-submit"
              type="submit"
            >
              Giriş Yap 
            </button>
          </div>
        </div>
      </div>
    </fieldset>
    </form>
  </div>
</div>