<div class="page-container">
  <h1>Giriş Yap</h1>
  <div class="form-container">
    <form (ngSubmit)="login()">
      <fieldset>
        <legend>Kullanıcı Bilgileri</legend>
      <div class="form-group">
        <label for="email">Email adresinizi giriniz<sup aria-hidden="true">*</sup></label>
        <input type="email" id="email" [(ngModel)]="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="password">Şifrenizi giriniz<sup aria-hidden="true">*</sup></label>
        <input type="password" id="password" [(ngModel)]="password" name="password" required>
      </div>
      <div class="example-button-row">
        <div class="example-flex-container">
          <div class="example-button-container">
            <button
              mat-fab
              extended
              class="btn-submit"
              type="submit"
            >
              Giriş Yap 
            </button>
          </div>
        </div>
      </div>
    </fieldset>
    </form>
  </div>
</div>