
<table>
  <thead>
    <tr>
      <tr>
        <!-- Id sütun başlığına tıklayınca sıralama yapar -->
        <th scope="col" (click)="onSortColumn('id')">
          Id
          <span *ngIf="sortColumn === 'id'"> <!-- Sıralama yönünü göstermek için ok simgesi -->
            {{ sortDirection === 'asc' ? '▲' : '▼' }}
          </span>
        </th>
        <!-- First Name sütun başlığına tıklayınca sıralama yapar -->
        <th scope="col" (click)="onSortColumn('firstName')">
          First Name
          <span *ngIf="sortColumn === 'firstName'"> <!-- Sıralama yönünü göstermek için ok simgesi -->
            {{ sortDirection === 'asc' ? '▲' : '▼' }}
          </span>
        </th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">groups</th>
      <th scope="col">hireDate</th>
      <th scope="col">Inactive</th>
      <th scope="col">

      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <td data-label="Id">{{ employee.employeeId }}</td>
      <td data-label="First Name">{{ employee.firstName }}</td>
      <td data-label="Last Name">{{ employee.lastName }}</td>
      <td data-label="Email">{{ employee.email }}</td>
      <td data-label="groups">{{ employee.groups }}</td>
      <td data-label="hireDate">{{employee.hireDate | date: 'dd/MM/yyyy'}}</td>
      <td data-label="Inactive">{{ employee.inactiveEmployees }}</td>
      <td>
        <button *ngIf="employee.employeeId !== undefined" (click)="editEmployee(employee.employeeId!)">Edit</button>
        <button *ngIf="employee.employeeId !== undefined" (click)="deleteEmployee(employee.employeeId!)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<button (click)="goToCreateEmployeeForm()" id="goForm">Create New Employee</button>