<div class="page-container">
    <div class="form-container">
      <h2 class="title">Proje Bilgileri</h2>
      <form [formGroup]="projectForm" (ngSubmit)="submitProject()">
        <fieldset>
  
          <mat-form-field class="form-group">
            <mat-label for="project_name">Proje ismini giriniz</mat-label>
            <input matInput type="text" id="project_name" 
            formControlName="projectName"
            required  />
          </mat-form-field>

       

   
          <mat-form-field class="form-group">
            <mat-label for="startDate">Başlama tarihi</mat-label>
            <input matInput [matDatepicker]="startPicker" type="date" id="startDate" formControlName="startDate"/>
            <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
            <mat-datepicker #startPicker></mat-datepicker>
          </mat-form-field>
          
          <mat-form-field class="form-group">
            <mat-label for="endDate">Bitiş tarihi</mat-label>
            <input matInput [matDatepicker]="endPicker" type="date" id="endDate" formControlName="endDate"/>
            <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
            <mat-datepicker #endPicker></mat-datepicker>
          </mat-form-field>
          


          <section class="example-section">
            <mat-checkbox
              formControlName="activeprojects"
            >Aktif proje
            </mat-checkbox>
          </section>
  
          <div class="example-button-row">
            <div class="example-flex-container">
              <div class="example-button-container">
                <button
                  mat-fab
                  extended
                  class="btn-submit"
                  type="submit"
                >
                {{ isEditMode ? "Güncelle " : "Proje Ekle" }}
                </button>
              </div>
            </div>
          </div>
  
          <div *ngIf="createSuccess" class="success-message">
            Proje başarıyla oluşturuldu
          </div>
          <div *ngIf="updateSuccess" class="success-message">
            Proje başarıyla güncellendi
          </div>
          <div *ngIf="createError" class="error-message">
            Tüm boşlukları doldurunuz!
          </div>
        </fieldset>
      </form>
    </div>
  </div>
  