.project-details-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #180c36;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #180c36;
  }
  
  h2 {
    color: #180c36;
  }
  