
<div class="page-container">
  <h1 class="projects-title">Proje Detayları</h1>
  <div class="scrollable-container rounded">
      <div class="project-card-container">
  <div *ngIf="project" class="project-card shadow">
    <h3>{{ project.projectName }}</h3>
    
    <p><strong>Başlangıç Tarihi:</strong> {{ project.startDate | date: 'dd/MM/yyyy' }}</p>
    <p><strong>Bitiş Tarihi:</strong> {{ project.endDate | date: 'dd/MM/yyyy' }}</p>
    <p><strong>Aktif mi?</strong> {{ project.activeProjects ? 'Evet' : 'Hayır'}}</p>
    <div class="action-buttons">
 </div>
  </div>
 </div>
</div>
</div>