
.page-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 94.67vh;
  background: linear-gradient(135deg, #180c36 25%, #180c36  100%);
  background-size: 400% 400%;
  animation: backgroundMove 10s ease infinite;
  padding: 40px;
}

.form-container {
  background-color: #d1cfc7;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 450px;
  margin: 40px auto;

}

form {
  display: flex;
  flex-direction: column;
}

fieldset {
  border: none;
  padding: 0;
}

legend {
  font-size: 1.3em;
  color: #1c1c66;
  margin-bottom: 20px;
  font-weight: 500;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}



label {
  font-size: 1.1em;
  color: #25175e;
  margin-bottom: 5px;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
  padding: 10px;
  font-size: em;
  border: 2.4px solid #2c147a;
  border-radius: 16px;
  background-color: #FFF;
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: #ab9bf5;
  outline: none;
  box-shadow: 0 0 8px rgba(129, 199, 132, 0.3);
}

input:hover{
  transform: scale(1.01); 
  background-color: #ffffff; 

}


section {
display: table;
}

.example-label {
display: table-cell;
font-size: 14px;
margin-left: 8px;
min-width: 120px;
}

.example-button-row {
display: table-cell;
max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
margin: 8px 8px 8px 0;
background-color: #37257e;

box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.example-flex-container {
display: flex;
justify-content: space-between;
flex-wrap: wrap;

}

.example-button-container {
display: flex;
justify-content: center;
width: 100px;

}

.btn-submit{
color: #D1D1D1;
font-family:Verdana, Geneva, Tahoma, sans-serif;
transition: transform 0.2s ease, background-color 0.2s ease; 

}

.btn-submit:hover {
  box-shadow: 0 4px 8px rgba(4, 15, 4, 0.4);
  transform: scale(1.05); 
  background-color: #4caf50; 

}


.example-h2 {
  margin: 10px;
  
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 1px;
}

.success-message {
  color: rgb(72, 148, 72);
  margin-top: 20px;
  background-color: #c4e7c4;
  padding: 10px;
  border: 0.5px solid rgb(188, 233, 188);
  border-radius: 15px;
  text-align: center;
  
  box-shadow: 1px 4px 6px rgba(13, 39, 13, 0.4);
}

.error-message {
  color: rgb(199, 189, 189);
  margin-top: 20px;
  background-color: #9e1c1c;
  padding: 10px;
  border: 0.5px solid rgb(153, 10, 10);
  border-radius: 15px;
  text-align: center;
  
  box-shadow: 1px 4px 6px rgba(13, 39, 13, 0.4);
}



mat-form-field {
  margin-right: 12px;
}
