<div class="page-container">
  <h1>Kaydol</h1>
  <div class="form-container">
    <form [formGroup]="employeeForm" (ngSubmit)="submitEmployee()">
      <fieldset>
        <legend>Kullanıcı Bilgileri</legend>

        <div class="form-group">
          <label for="first_name">İsminizi giriniz</label>
          <input
            type="text"
            id="first_name"
            formControlName="firstName"
            required
          />
        </div>

        <div class="form-group">
          <label for="last_name">Soyisminizi giriniz </label>
          <input
            type="text"
            id="last_name"
            formControlName="lastName"
            required
          />
        </div>

        <div class="form-group">
          <label for="email">Email adresinizi giriniz</label>
          <input
            type="email"
            id="email"
            formControlName="email"
            required
          />
        </div>

        <div class="form-group">
          <label for="password">Şifrenizi giriniz</label>
          <input
            type="password"
            id="password"
            formControlName="password"
            required
          />
        </div>

        <div class="form-group">
          <label for="groups">Grup belirtiniz</label>
          <input
            type="text"
            id="groups"
            formControlName="groups"
            required
          />
        </div>

        <div class="form-group">
          <label for="hire">Kayıt tarihinizi giriniz</label>
          <input
            type="date"
            id="hire"
            formControlName="hireDate"
          />
        </div>

        <section class="example-section">
          <mat-checkbox
            formControlName="activeEmployees"
          >
            Aktif Çalışan 
          </mat-checkbox>
        </section>

        <div class="example-button-row">
          <div class="example-flex-container">
            <div class="example-button-container">
              <button
                mat-fab
                extended
                class="btn-submit"
                type="submit"
              >
                {{ isEditMode ? 'Güncelle ' : 'Kaydet' }}
              </button>
            </div>
          </div>
        </div>

        <div *ngIf="createSuccess" class="success-message">Kullanıcı başarıyla oluşturuldu
        </div>
        <div *ngIf="updateSuccess" class="success-message">
          Kullanıcı başarıyla güncellendi
        </div>
        <div *ngIf="createError" class="error-message">
          Tüm boşlukları doldurunuz!
        </div>
      </fieldset>
    </form>
  </div>
</div>
